<footer id="footer">
        <section fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-around center" fxLayout.xs="column"
                fxLayout.md="column">
                <div class="rounded-social-buttons">
                        <a class="social-button github" href="https://github.com/poonamsaroj" target="_blank"><i
                                        class="fa fa-github"></i></a>
                        <a class="social-button linkedin" href="https://www.linkedin.com/in/sarojpoonam/"
                                target="_blank"><i class="fa fa-linkedin"></i></a>
                        <a class="social-button envelope" href="mailto: sarojpoonam30@gmail.com" target="_blank"><i
                                        class="fa fa-envelope"></i></a>
                </div>
                <div class="et_pb_text_inner">Click here for
                        <a href="https://github.com/poonamsaroj/portfolio" target="_blank">Code Repo</a> or
                        <a href="https://poonamsaroj.github.io/portfolio/assets/resume.pdf" target="_blank"
                                download="Poonam Saroj Resume">Resume</a>.
                </div>
        </section>
</footer>