<div class="projects" id="projects">
    <div class="header">
        <h2>Projects</h2>
    </div>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-around center" fxLayout.xs="column"
        fxLayout.md="column">
        <mat-card class="card">
            <img mat-card-image src="./assets/images/cap360.JPG">
            <mat-card-content>
                <p class="codes">#Node.js #Angular #MongoDB</p>
                <p style="color: grey;">
                    Created a fully customized dashboard showing high-level details of
                    dependencies & critical metrics in the legacy application for 3 fortune 500 clients using Angular 5,
                    Node.js & MongoDB.
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card class="card">
            <img mat-card-image src="./assets/images/damm.JPG">
            <mat-card-content>
                <p class="codes">#Node.js #Angular #MongoDB</p>
                <p style="color: grey;">
                    Developed & deployed a portal for DevOps Maturity Monitoring using Node.js
                    & MongoDB on AWS EC2 instance including various JavaScript libraries like Amcharts, Google charts,
                    D3.js charts etc.
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card class="card">
            <img mat-card-image src="./assets/images/vendorportal.JPG">
            <mat-card-content>
                <p class="codes">#Node.js #React #MongoDB</p>
                <p style="color: grey;">
                    Project involded developing a web-based tool for onboarding of vendors onto Viacom18 SAP system.
                    The project was built using Angular
                    8 for frontend technology, Node.JS for backend and MongoDB as database.
                </p>
            </mat-card-content>
        </mat-card>
    </div>


    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-around center" fxLayout.xs="column"
        fxLayout.md="column">
        <a href="https://node-random-quote-app.herokuapp.com/" target="_blank" style="text-decoration: none;">
            <mat-card class="card">
                <img mat-card-image src="./assets/images/quote.JPG">
                <mat-card-content>
                    <p class="codes">#Node.js #Express #ejs</p>
                    <p style="color: grey;">
                        Random Quotes app that generates quotes using a third party api on every call.
                    </p>
                </mat-card-content>
            </mat-card>
        </a>
    </div>
</div>