<div class="projects" id="projects">
    <div class="header">
        <h2>Projects</h2>
    </div>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-around center" fxLayout.xs="column"
        fxLayout.md="column">
        <mat-card class="card">
            <mat-card-header>
                <mat-card-title style="color: grey;">Capgemini</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="portfolio/assets/images/cap360.JPG">
            <mat-card-content>
                <p style="color: grey;">
                    Created a fully customized dashboard showing high-level details of
                    dependencies & critical metrics in the legacy application for 3 fortune 500 clients using Angular 5,
                    Node.js & MongoDB.
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card class="card">
            <mat-card-header>
                <mat-card-title style="color: grey;">Capgemini</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="portfolio/assets/images/damm.JPG">
            <mat-card-content>
                <p style="color: grey;">
                    Developed & deployed a portal for DevOps Maturity Monitoring using Node.js
                    & MongoDB on AWS EC2 instance including various JavaScript libraries like Amcharts, Google charts,
                    D3.js charts etc.
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card class="card">
            <mat-card-header>
                <mat-card-title style="color: grey;">Viacom18</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="portfolio/assets/images/vendorportal.JPG">
            <mat-card-content>
                <p style="color: grey;">
                    Project involded developing a web-based tool for onboarding of vendors onto Viacom18 SAP system.
                    The project was built using Angular
                    8 for frontend technology, Node.JS for backend and MongoDB as database.
                </p>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-around center" fxLayout.xs="column"
        fxLayout.md="column">
        <mat-card class="card">
            <mat-card-header>
                <mat-card-title>Capgemini</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
            <mat-card-content>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde adipisci necessitatibus dicta fugiat
                    minima repellat officia accusantium nemo modi aspernatur praesentium consectetur, temporibus ea
                    culpa.
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card class="card">
            <mat-card-header>
                <mat-card-title>Capgemini</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
            <mat-card-content>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit natus consequatur quis
                    adipisci dolorum provident exercitationem magni aliquam, soluta repellendus officia, excepturi
                    officiis nihil deserunt.
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card class="card">
            <mat-card-header>
                <mat-card-title>Capgemini</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
            <mat-card-content>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit natus consequatur quis
                    adipisci dolorum provident exercitationem magni aliquam, soluta repellendus officia, excepturi
                    officiis nihil deserunt.
                </p>
            </mat-card-content>
        </mat-card>
    </div> -->
</div>