<div class="projects" id="projects">
    <div class="header">
        <h2>Projects</h2>
    </div>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-around center" fxLayout.xs="column"
        fxLayout.md="column">
        <mat-card class="card">
            <mat-card-header>
                <mat-card-title>Capgemini</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="./assets/images/cap360.JPG">
            <mat-card-content>
                <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card class="card">
            <mat-card-header>
                <mat-card-title>Capgemini</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="./assets/images/damm.JPG">
            <mat-card-content>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque pariatur sequi, commodi in quam
                    non veritatis. Nostrum, laboriosam adipisci eligendi aliquid illo saepe non ut!
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card class="card">
            <mat-card-header>
                <mat-card-title>Viacom18</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="./assets/images/vendorportal.JPG">
            <mat-card-content>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis repudiandae maxime, labore
                    perferendis quos nulla nam minima laudantium neque dolor consequatur ullam ipsam eos nemo!
                </p>
            </mat-card-content>
        </mat-card>
    </div>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-around center" fxLayout.xs="column"
        fxLayout.md="column">
        <mat-card class="card">
            <mat-card-header>
                <mat-card-title>Capgemini</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
            <mat-card-content>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde adipisci necessitatibus dicta fugiat
                    minima repellat officia accusantium nemo modi aspernatur praesentium consectetur, temporibus ea
                    culpa.
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card class="card">
            <mat-card-header>
                <mat-card-title>Capgemini</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
            <mat-card-content>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit natus consequatur quis
                    adipisci dolorum provident exercitationem magni aliquam, soluta repellendus officia, excepturi
                    officiis nihil deserunt.
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card class="card">
            <mat-card-header>
                <mat-card-title>Capgemini</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
            <mat-card-content>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit natus consequatur quis
                    adipisci dolorum provident exercitationem magni aliquam, soluta repellendus officia, excepturi
                    officiis nihil deserunt.
                </p>
            </mat-card-content>
        </mat-card>
    </div>
</div>