<div class="skills" id="skills">
    <p style="text-align: center;
    color: #060606;
    font-size: 2.5em; margin-top: -3px;
    margin-bottom: 1%;
    padding: 5% 0 1% 0;">My Finest Skills</p>
    <div fxLayout="column" fxLayout.xs="row" fxLayoutAlign="center center">
        <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center">
            <div fxLayout="column" class="card" fxLayoutAlign="center center" fxFlex.xs="20">
                <circle-progress [percent]="90" [maxPercent]="1000" [toFixed]="0" [showTitle]="true" [showUnits]="true"
                    [showSubtitle]="false" [showBackground]="false" [showInnerStroke]="true" [clockwise]="false"
                    [responsive]="false" [startFromZero]="false" [showZeroOuterStroke]="true"
                    [outerStrokeColor]="'#db7093'">
                </circle-progress>
                <p>HTML5</p>
            </div>
            <div fxLayout="column" class="card" fxLayoutAlign="center center" fxFlex.xs="20">
                <circle-progress [percent]="75" [maxPercent]="1000" [toFixed]="0" [showTitle]="true" [showUnits]="true"
                    [showSubtitle]="false" [showBackground]="false" [showInnerStroke]="true" [clockwise]="false"
                    [responsive]="false" [startFromZero]="false" [showZeroOuterStroke]="true"
                    [outerStrokeColor]="'#db7093'">
                </circle-progress>
                <p>CSS3</p>
            </div>
            <div fxLayout="column" class="card" fxLayoutAlign="center center" fxFlex.xs="20">
                <circle-progress [percent]="95" [maxPercent]="1000" [toFixed]="0" [showTitle]="true" [showUnits]="true"
                    [showSubtitle]="false" [showBackground]="false" [showInnerStroke]="true" [clockwise]="false"
                    [responsive]="false" [startFromZero]="false" [showZeroOuterStroke]="true"
                    [outerStrokeColor]="'#db7093'">
                </circle-progress>
                <p>JavaScript</p>
            </div>
            <div fxLayout="column" class="card" fxLayoutAlign="center center" fxFlex.xs="20">
                <circle-progress [percent]="75" [maxPercent]="1000" [toFixed]="0" [showTitle]="true" [showUnits]="true"
                    [showSubtitle]="false" [showBackground]="false" [showInnerStroke]="true" [clockwise]="false"
                    [responsive]="false" [startFromZero]="false" [showZeroOuterStroke]="true"
                    [outerStrokeColor]="'#db7093'">
                </circle-progress>
                <p>SCSS</p>
            </div>
            <div fxLayout="column" class="card" fxLayoutAlign="center center" fxFlex.xs="20">
                <circle-progress [percent]="85" [maxPercent]="1000" [toFixed]="0" [showTitle]="true" [showUnits]="true"
                    [showSubtitle]="false" [showBackground]="false" [showInnerStroke]="true" [clockwise]="false"
                    [responsive]="false" [startFromZero]="false" [showZeroOuterStroke]="true"
                    [outerStrokeColor]="'#db7093'">
                </circle-progress>
                <p>TypeScript</p>
            </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center">
            <div fxLayout="column" class="card" fxLayoutAlign="center center" fxFlex.xs="20">
                <circle-progress [percent]="80" [maxPercent]="1000" [toFixed]="0" [showTitle]="true" [showUnits]="true"
                    [showSubtitle]="false" [showBackground]="false" [showInnerStroke]="true" [clockwise]="false"
                    [responsive]="false" [startFromZero]="false" [showZeroOuterStroke]="true"
                    [outerStrokeColor]="'#55BFDD'">
                </circle-progress>
                <p>Node.JS</p>
            </div>
            <div fxLayout="column" class="card" fxLayoutAlign="center center" fxFlex.xs="20">
                <circle-progress [percent]="70" [maxPercent]="1000" [toFixed]="0" [showTitle]="true" [showUnits]="true"
                    [showSubtitle]="false" [showBackground]="false" [showInnerStroke]="true" [clockwise]="false"
                    [responsive]="false" [startFromZero]="false" [showZeroOuterStroke]="true"
                    [outerStrokeColor]="'#55BFDD'">
                </circle-progress>
                <p>MongoDB</p>
            </div>
            <div fxLayout="column" class="card" fxLayoutAlign="center center" fxFlex.xs="20">
                <circle-progress [percent]="75" [maxPercent]="1000" [toFixed]="0" [showTitle]="true" [showUnits]="true"
                    [showSubtitle]="false" [showBackground]="false" [showInnerStroke]="true" [clockwise]="false"
                    [responsive]="false" [startFromZero]="false" [showZeroOuterStroke]="true"
                    [outerStrokeColor]="'#55BFDD'">
                </circle-progress>
                <p>React.JS</p>
            </div>
            <div fxLayout="column" class="card" fxLayoutAlign="center center" fxFlex.xs="20">
                <circle-progress [percent]="60" [maxPercent]="1000" [toFixed]="0" [showTitle]="true" [showUnits]="true"
                    [showSubtitle]="false" [showBackground]="false" [showInnerStroke]="true" [clockwise]="false"
                    [responsive]="false" [startFromZero]="false" [showZeroOuterStroke]="true"
                    [outerStrokeColor]="'#55BFDD'">
                </circle-progress>
                <p>DOCKERS</p>
            </div>
            <div fxLayout="column" class="card" fxLayoutAlign="center center" fxFlex.xs="20">
                <circle-progress [percent]="83" [maxPercent]="1000" [toFixed]="0" [showTitle]="true" [showUnits]="true"
                    [showSubtitle]="false" [showBackground]="false" [showInnerStroke]="true" [clockwise]="false"
                    [responsive]="false" [startFromZero]="false" [showZeroOuterStroke]="true"
                    [outerStrokeColor]="'#55BFDD'">
                </circle-progress>
                <p>GIT</p>
            </div>
        </div>
    </div>

</div>