<!-- <mat-spinner color="accent"></mat-spinner> -->
<div>
  <mat-toolbar #toolbar>
    <a href="#aboutme">
      <span class="intro-name" style="font-family: Pacifico; font-size: 1.5em; color: rgb(255, 255, 255);">
        &#60;PS/&#62;</span>
    </a>
    <span class="example-spacer"></span>
    <label class="example-icon">
      <a href="#aboutme">
        About Me
      </a>
    </label>
    <label class="example-icon">
      <a href="#skills">
        Skills
      </a>
    </label>
    <label class="example-icon">
      <a href="https://poonamsaroj.github.io/portfolio/assets/resume.pdf" target="_blank" download="Poonam Saroj Resume"
        style="text-decoration: none; color: white">Resume</a>
    </label>
    <label class="example-icon">
      <a href="#projects">
        Projects
      </a>
    </label>
    <label class="example-icon">
      <a href="#testimonials">
        Testimonials
      </a>
    </label>
    <!-- <label class="example-icon">
      <a href="#footer">
        Contact
      </a>
    </label> -->
  </mat-toolbar>
  <app-home></app-home>
  <app-skills></app-skills>
  <app-projects></app-projects>
  <app-testimonials></app-testimonials>
  <app-footer></app-footer>
</div>