<!-- <mat-spinner color="accent"></mat-spinner> -->
<div>
  <mat-toolbar #toolbar>
    <p><span>Poonam</span><span> Saroj</span></p>
    <span class="example-spacer"></span>
    <label class="example-icon">
      <a href="#aboutme">
        About Me
      </a>
    </label>
    <label class="example-icon">
      <a href="#skills">
        Skills
      </a>
    </label>
    <label class="example-icon">
      <a href="/assets/resume.pdf" target="_blank" style="text-decoration: none; color: white">Resume</a>
    </label>
    <label class="example-icon">
      <a href="#projects">
        Projects
      </a>
    </label>
    <label class="example-icon">
      <a href="#testimonials">
        Testimonials
      </a>
    </label>
    <label class="example-icon">
      <a href="#footer">
        Contact
      </a>
    </label>
  </mat-toolbar>
  <app-home></app-home>
  <app-skills></app-skills>
  <app-testimonials></app-testimonials>
  <app-projects></app-projects>
  <app-footer></app-footer>
</div>