.testimonials {
    background-image: url(../../assets/images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px 0;
    position: relative;
}

.testimonials .et_pb_text_inner h2 {
    margin-bottom: 5px !important;
    text-align: left;
    word-wrap: break-word;
}

.testimonials p {
    font-family: 'Montserrat', Helvetica, Arial, Lucida, sans-serif;
    font-weight: 300;
    font-size: 24px !important;
    line-height: 1.6em;
}

.testimonial-image {
    width: 110px;
    height: 110px;
    margin: 0 auto;
}

.testimonial-image img {
    border-radius: 50%;
    border: 5px solid rgb(255, 255, 255, .1);
    height: 100%;
    width: 100%;
}

.testimonial-content h2 {
    font-size: 16px;
    color: #ff4000;
    font-weight: 600;
    text-transform: uppercase;
    margin: 9px 0 .5rem;
    line-height: 1.2px;
}

.testimonial-content h3 {
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    margin: 9px 0 .5rem;
    line-height: 1.2px;
}

.testimonial-content p {
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    margin: 9px 0 .5rem;
    line-height: 1.2px;
}