.testimonials {
    height: 100vh;
}

.testimonials .et_pb_text_inner h2 {
    margin-bottom: 5px !important;
    text-align: left;
    word-wrap: break-word;
}

.testimonials p {
    font-family: 'Montserrat', Helvetica, Arial, Lucida, sans-serif;
    font-weight: 300;
    font-size: 24px !important;
    line-height: 1.6em;
}