<div class="testimonials" id="testimonials">
    <div class="et_pb_text_inner">
        <h2>Testimonials &amp; Featured Clients</h2>
    </div>
    <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
            <div class="slide">
                <p>
                    Poonam was one of our best UI developers and she has created wonders in the designing UI
                    applications .
                    Applications developed by Poonam 2 years back are still the best and looking for my next generation
                    team
                    to catch up with the designs.
                </p>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="slide">
                <p>Poonam worked under me for nearly 1 year and she has always displayed a unique sense of creativity
                    and
                    has always been a trusted and capable web developers in our team. She played a significant role in
                    developing and implementing overall webpages, intuitive dashboards for tools and accelerators which
                    has
                    always garnered appreciation from customers as well as internal leadership .
                    Poonam has an eye for unique designs and has surpassed customer expectations in terms of on time
                    delivery. She is thoughtful, proactive and an excellent team player who can also work independently
                    if
                    needed and do a fantastic job. Her ability to grasp complex requirements and deliver intuitive UI/UX
                    will make her an asset in any organizational </p>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="slide">
                <p>Poonam's persistent nature and hard work is bewildering. Her amazing ability to create intutive web
                    designs and strict coding standards was always useful. The happy aura around her made it very easy
                    to
                    work with her, an ability that many people admired.</p>
            </div>
        </ng-template>
    </owl-carousel-o>
</div>