<div class="testimonials" id="testimonials">
    <div class="header">
        <h2>Testimonials</h2>
    </div>

    <section>
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide fxLayout="column" fxLayoutAlign="center center">
                <div class="testimonial-container">
                    <div class="fas fa-quote-right fa-quote"></div>
                    <div class="fas fa-quote-left fa-quote"></div>
                    <p class="testimonial">
                        Poonam was one of our best UI developers and she has created wonders in the designing UI
                        applications.
                        Applications developed by Poonam 2 years back are still the best and looking for my next
                        generation
                        team
                        to catch up with the designs.
                    </p>
                    <div class="user">
                        <img src="./assets/images/ram.jfif" alt="user" class="user-image" />
                        <div class="user-details">
                            <h4 class="username">Ramakrishnan Lakshmanan
                            </h4>
                            <p class="role">
                                Senior Mainframe Modernization Architect at Amazon Web Services (AWS)</p>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide fxLayout="column" fxLayoutAlign="center center">
                <div class="testimonial-container">
                    <div class="fas fa-quote-right fa-quote"></div>
                    <div class="fas fa-quote-left fa-quote"></div>
                    <p class="testimonial">
                        Poonam worked under me for nearly 1 year and she has always displayed a unique sense of
                        creativity
                        and
                        has always been a trusted and capable web developers in our team. She played a significant
                        role
                        in
                        developing and implementing overall webpages, intuitive dashboards for tools and
                        accelerators
                        which
                        has
                        always garnered appreciation from customers as well as internal leadership.
                        Poonam has an eye for unique designs and has surpassed customer expectations in terms of on
                        time
                        delivery. She is thoughtful, proactive and an excellent team player who can also work
                        independently
                        if
                        needed and do a fantastic job. Her ability to grasp complex requirements and deliver
                        intuitive
                        UI/UX
                        will make her an asset in any organizational
                    </p>
                    <div class="user">
                        <img src="./assets/images/susheel.jfif" alt="user" class="user-image" />
                        <div class="user-details">
                            <h4 class="username">Susheel Menon</h4>
                            <p class="role">Designing AI powered communication strategies, AI Voice Bots & technical
                                solutions for BFSI, Retail & Ecommerce firms for rich customer experience & engagement
                            </p>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide fxLayout="column" fxLayoutAlign="center center">
                <div class="testimonial-container">
                    <div class="fas fa-quote-right fa-quote"></div>
                    <div class="fas fa-quote-left fa-quote"></div>
                    <p class="testimonial">
                        Poonam's persistent nature and hard work is bewildering. Her amazing ability to create intutive
                        web
                        designs and strict coding standards was always useful. The happy aura around her made it very
                        easy
                        to
                        work with her, an ability that many people admired.
                    </p>
                    <div class="user">
                        <img src="./assets/images/gauri.jfif" alt="user" class="user-image" />
                        <div class="user-details">
                            <h4 class="username">Gauri Mandlik</h4>
                            <p class="role">
                                Associate consultant at Capgemini</p>
                        </div>
                    </div>
                </div>
            </ng-template>
        </owl-carousel-o>
    </section>
    <!-- <section class="logo-company" fxLayout="row" fxLayoutAlign="space-around center" fxLayout.xs="column">
        <a href="#">
            <span>
                <img src="./assets/images/capgemini.jpg" alt="Capgemini Logo" title="Capgemini">
            </span>
        </a>
        <a href="#">
            <span>
                <img src="./assets/images/viacom18.png" alt="Viacom18" title="Viacom18">
            </span>
        </a>
        <a href="#">
            <span>
                <img src="./assets/images/growel.png" alt="Growel Softtech" title="Growel Softtech">
            </span>
        </a>
    </section> -->
</div>