<div class="particles-js" id="aboutme">
    <div style="padding: 5px;" class="hero-text" fxLayout="column" fxLayoutAlign="space-evenly center">
        <div class="intro-text">&lt;code&gt;Hello,World!&lt;/code&gt;</div>
        <div class="intro-detail">My name is</div>
        <span class="intro-name" style="font-family: Pacifico;">Poonam Saroj</span>
        <div class="intro-detail">
            passionate about technology and building designs from future. I carry experience of website development
            including front-end & back-end designs.
            I also enjoy playing around with graphics illustrations and colours.
        </div>
        <section class="button">
            <a href="/assets/resume.pdf" target="_blank">
                <button mat-raised-button color="warn">Download CV</button>
            </a>
            <a href="#footer" target="_blank">
                <button mat-raised-button color="warn">Contact</button>
            </a>
        </section>
    </div>
</div>
<script src="particles.js"></script>